.collapse__container {
  background-color: $primary-color;
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 15px 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.collapse__container--title {
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.collapse__container--txt {
  font-size: 18px;
  font-weight: 400;
  background-color: #f6f6f6;
  padding: 10px 15px;
}

.fa-chevron-up,
.fa-chevron-down {
  color: white;
  font-size: 24px;
  transition: transform 0.3s ease;
}

.collapsed {
  max-height: 52px;
}

.expanded {
  max-height: 1000px;
}

.expanded .fa-chevron-down { 
  transform: rotate(180deg)
}