.footer__container {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100vw;
  margin: 50px auto 0 auto;
  &--img {
    padding-top: 60px;
  }
  &--txt {
    padding: 28px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
}

.fa-copyright {
  font-size: 16px;
}

@media screen and (max-width:600px) {
  .footer__container {
    margin: 20px auto 0 auto;
    &--txt {
      font-size: 12px;
      max-width: 133px;
      text-align: center;
      font-size: 12px;
    }
  }
  .fa-copyright {
    font-size: 12px;
  }
}
