.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  margin: 45px auto;
  &__routes {
    display: flex;
    &--link {
      color: black;
      text-decoration: none;
      margin-left: 50px;
    }
  }
}

.underline {
  text-decoration: underline;
}

@media screen and (max-width:400px) {
  .navBar {
    &__logo {
      width: 145px;
      height: 47px;
    }
    &__routes {
      margin-left: 10px;
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}